.right-bar {
    flex: 2.5;
        & .right-bar-wrapper {
            padding-left: 10px;
            padding-right: 5px;
                & .right-bar-title-infos {
                    font-size: 1.2em;
                    color: $Tertiaire;
                }
                & .right-bar-infos {
                    margin-top: 10px;
                        & .right-bar-info-item {
                            padding-left: 3px;
                            & .right-bar-info-key {
                                font-size: 1.1rem;
                                color: $LightTertiaire;
                            }
                            & .right-bar-info-value {
                                font-size: 1rem;
                                font-weight: 400;
                                color: $Tertiaire;  
                            }
                        }
                }
        }
}