
$Primaire : #FD2D01;
$Secondaire : #FFD7D7;
$Tertiaire : #4E5166;
$LightTertiaire : #4e51668c;
$black : black;
$green : rgba(0, 156, 0, 0.811);
$white : white;
$light : rgb(232, 232, 232);
$gray : gray;


* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style-type: none;
font-family: 'Lato', sans-serif;
}

